*{
	font-size: 12px;
}

#fd_table{
	width:970px;
	height: 700px;
	margin: auto;
}

#fd_table table{
	width: 100%;
	border: 1px solid #CCCCCC;
}

#fd_table table tr td{
	border: 1px solid #CCCCCC;
}

#fd_table .fd_left{
	width: 20%;
	font-weight: bold;
	text-align: right;
}

#fd_table .fd_center{
	text-align: center;
}
