*{
	font-size: 12px;
}

#md_table{
	width:970px;
	height: 700px;
	margin: auto;
}

#md_table table{
	width: 100%;
	border: 1px solid #CCCCCC;
}
#md_table *{
	text-align: center;
	text-decoration: none;
}

#md_table td,#md_table th{
	border: 1px solid #CCCCCC;
}

#md_table tr{
	height: 25px;
}

#md_table .md_num{
	color:#ff0000;
	  font-weight: normal
}

#md_table .md_btn_img{
	margin-left: 10px;
	margin-right: 15px;
}

.cart_item a:hover{
	color: red;
}
