.*{
	
	font-size:5;
	
}
.main{
	width: 650px;
	height: 700px;
	margin: auto;
}
.s{
	color: red;
}

.main a{
		color: #555;
	text-decoration: none;
}
.main a:hover{
	color: red;
}
.name{
	margin-left: 600px;
	font-size: 20px;
	color: red;
}


